
.login-container{
    display: grid;
    /* width: 50%; */
    max-width: 35rem;
    grid-auto-flow: row;
    padding:  1.5rem;
    background-color: rgba(147, 147, 228, 0.41);
    grid-gap: 1rem;

    h2{
        text-align: center;
    }

    /* input {
        display:block;
        width:100%;
        margin:10px 0;
        padding:10px;
        border-radius:10px;
        border: 1px solid #eee;
        transition: .3s border-color;
        
        &:hover {
            border: 1px solid #aaa;
        }
    } */
    
    .signin-container{
        display: grid;
        grid-auto-flow: row;
        grid-gap: 1rem;
    }
}